@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  font-family: Quicksand;
}

.nav-link:hover{
  color: #f1356d;
}

body{
  background: #f0f0f0;
}

input,textarea{
  border: none;
}
